<div>
  Ingrese número 1: <input type="text" name="numero1"  [(ngModel)]="numero1"/>
  <br>
  Ingrese número 2: <input type="text" name="numero2" [(ngModel)]="numero2"/>
  <br>
  <button (click)="operaciones()">Ir</button>
</div>
