<app-ingresonumero></app-ingresonumero>
<app-primercuadro></app-primercuadro>
<app-segundocuadro></app-segundocuadro>
<app-tercercuadro></app-tercercuadro>
<app-cuartocuadro></app-cuartocuadro>
<app-resultados></app-resultados>
